body {
    background-color: rgb(20, 21, 25);
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.review {
    background-color: rgb(30, 37, 47);
    border-radius: 30px;
    padding: 32px 40px 32px 32px;
    width: 400px;
    margin: 195px 0 190px 0;
}
.review__icon {
    padding: 15px;
    background-color: rgb(38, 47, 56);
    border-radius: 100%;
}
.review__heading {
    font-size: 28px;
    color: rgb(255, 255, 255);
}
.review__caption {
    line-height: 24px;
    color: rgb(149, 158, 172);
}
.review__rating {
    padding: 0;
    margin: 30px 0;
}

.rating {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.rating__btn {
    font-weight: 700;
    width: 51px;
    height: 51px;
    border-radius: 100%;
    color: rgb(149, 158, 172);
    background-color: rgb(38, 47, 56);
    border: none;
}
.review__btn_submit {
    background-color: rgb(251, 116, 19);
    border: none;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    border-radius: 22.5px;
    height: 45px;
    font-family: 'Overpass', serif;
    font-weight: 700;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 5px;
    color: hsl(216, 12%, 54%);
}
.attribution a {
    color: hsl(228, 45%, 44%);
}